<header>
  <nav>
    <h1>Minhas Rotas</h1>
    <ul>
      <li>
        <a routerLink="cabecalho" routerLinkActive="active">Formulário</a>
      </li>
      <li>
        <a routerLink="listagem" routerLinkActive="active">listagem</a>
      </li>
    </ul>
  </nav>
</header>



<!-- <div class="cabecalho">
  <h1>PRIMEIRA PÁGINA ANGULAR</h1>
  <h2>{{tituloDinamico}}</h2>
  <label for="input"> Pesquisa:</label>
  <input type="text" name="input" [(ngModel)]="inputContent">
  <button (click)="enviarPesquisa()">Enviar</button>
</div> -->
