<!-- <app-formulario-cliente
  (cadastrarClienteEvent)="addClient($event)"
  [client]="client"
  (editClient)="editClient($event)"
  ></app-formulario-cliente>
<app-listagem-cliente
  [clients]="clients"
  (removeClientEvent)="removeClient($event)"
  (editClientEvent)="sendEditClient($event)"
  ></app-listagem-cliente> -->
<!-- <app-meu-primeiro-componente teste="Titulo" *ngIf="clients.length == 0"></app-meu-primeiro-componente>
<a routerLink="formulario">Formulario</a>
<a routerLink="meu-primeiro-component">Meu primeiro component</a>
<router-outlet></router-outlet> -->
<app-header></app-header>
<app-content></app-content>
